{% load static %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% if message.tags == 'warning' %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div id="jq-notification" style="display: none;" role="alert"></div>
    {% endif %}
</div>

